<%- include("./partials/header.ejs") %>
    <div>
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
        <button> <a href="/edit/<%= post.id %>">Edit</a></button>
        <button> <a href="/delete/<%= post.id %>">Delete</a></button>
    </div>
    </main>
</body>
</html>